<div class="container">
        <div class="row">
            <div  *ngFor="let product of products" class="col-xs-6 col-md-3 product">
                <div class="inner">
                <div class="prod-border">
                        <div class="prod-img">
                        <p class="stars">{{product.starrating}}</p>
                        <a [routerLink]="['/productdetail', product.id]"><img src="{{product.previewimg}}" alt="product image"></a>
                        </div>
                    <div class="desc-con">
                        <div class="prod-desc">
                            <h3><a [routerLink]="['/productdetail', product.id]">{{product.name}}</a></h3>
                            <h4><a [routerLink]="['/productdetail', product.id]">{{product.type}}</a></h4>
                            <p><a [routerLink]="['/productdetail', product.id]">{{product.description}}</a></p>
                        </div>
                        <div class="price-icons">
                            <p>{{product.price | currency:'USD':true}}</p>
                            <a><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                            <a><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <button [routerLink]="['/productdetail', product.id]" class="buy-grid">buy now</button>
                </div>
            </div>
        </div>
    </div>
