<header>
    <div class="topbar">
        <div class="logo">
        <a [routerLink]="['home']"><img src="img/logo.png" alt="company logo"></a>
        </div>
        <ul class="con-shop">
            <li><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:+45 22660077">+45 22660077</a></li>
            <li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:hello@ipsum.com">hello@ipsum.com</a></li>
            <li><i class="fa fa-shopping-cart" aria-hidden="true"></i>$ 99.54<span><a>checkout</a></span>
            </li>
        </ul>
    </div>
    <nav class="nav-main">
        <ul>
            <li class="dropdown">
            <a class="dropbtn" [routerLink]="['home']">home</a>
                <div class="dropdown-content">
                    <a>Shoes</a>
                    <a>Shirts</a>
                    <a>hats</a>
                    <a>jackets</a>
                    <a>flip-floppers</a>
                </div>
            </li>
            <li><a>men</a></li>
            <li><a>women</a></li>
            <li><a>kids</a></li>
            <li><a>sale</a></li>
            <li><a>about us</a></li>
            <li><a [routerLink]="['contact']">support</a></li>
            <li id="search-main"><i class="fa fa-search" aria-hidden="true"></i><input type="search" placeholder="Search.."></li>
        </ul>
    </nav>
<div class="mobile-wrap">
<div id="nav-trigger">
    <span><i class="fa fa-bars" aria-hidden="true"></i></span>
</div>
<form class="search-mobile"><i class="fa fa-search" aria-hidden="true"></i><input type="search" placeholder="Search.."></form>
<a><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
</div>
<nav id="nav-mobile"></nav>
</header>
<div class="bottom-border">
</div>