<div class="contact-con">
    <h1>Contact us</h1>
    <form class="contact">
    <div>
        <label for="">Name:</label> 
        <input type="text" placeholder="your Name...">
    </div>
    <div>
        <label for="">Email:</label>
        <input type="email" placeholder="your e-mail...">
    </div>
        <label for="">Message:</label>
        <textarea rows="5" cols="50" placeholder="your text..."></textarea>
        <input type="submit" value="send message">
</form>
</div>