<nav class="p-cat-con">
    <div class="p-cat football">
        <img src="img/shoes.jpg" alt="football shoes category">
        <h2><a>FOOTBALL SHOES</a></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing,
vivamus congue nulla leo, quis imperdiet magna.</p>
    </div>
    <div class="p-cat modern">
        <img src="img/clothes.jpg" alt="modern clothes category">
        <h2><a>MODERN CLOTHES</a></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing,
vivamus congue nulla leo, quis imperdiet magna.</p>
    </div>
    <div class="p-cat bags">
        <img src="img/bag.jpg" alt="bags and accessories category">
        <h2><a>BAGS &amp; ACCESSORIES</a></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing,
vivamus congue nulla leo, quis imperdiet magna.</p>
    </div>
</nav>

<section class="popular-prod">
    <div class="heading">
    <h2><span>popular products</span></h2>
    </div>

</section>
<products-list></products-list>
