<div class="newsletter">
    <div class="signupcon">
    <h2>Sign up for exclusive sales and product news</h2>
    <form action="">
        <input type="email" placeholder="Lorem@ipsum.com">
        <input type="submit" value="sign up">
    </form>
    </div>
</div>
<footer>
    <div class="footer-con">
        <div class="ourstores">
            <h2>Our Stores</h2>
            <p>Feel free to visit our stores or contact us.</p>
        <ul>
            <li>Vinegade 109</li>
            <li>5000 Odense</li>
            <li>99886622</li>
        </ul>
        <ul>
            <li>Vestergade 910</li>
            <li>9000 Aalborg</li>
            <li>96819191</li>
        </ul>
        <ul class="social">
            <li><a><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a><i class="fa fa-google" aria-hidden="true"></i></a></li>
            <li><a><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
            <li><a><i class="fa fa-rss" aria-hidden="true"></i></a></li>
        </ul>
        </div>
        <div class="blogpost">
            <h2>Blog Posts</h2>
            <ul>
                <li>
                    <a>
                        <h4>Lorem ipsum hey</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Donec sed auctor elit.</p>
                    </a>
                </li>
                <li>
                    <a>
                        <h4>New sexy sport clothes are here!</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Donec sed auctor elit.</p>
                    </a>
                </li>
                <li>
                    <a>
                        <h4>Summer sales are coming!</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Donec sed auctor elit.</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="support">
            <h2>Support</h2>
            <ul>
                <li><a>Terms &amp; Conditions</a></li>
                <li><a>FAQ</a></li>
                <li><a>Payment</a></li>
                <li><a>Refunds</a></li>
                <li><a>Track Order</a></li>
                <li><a>Services</a></li>
                <li><a>Privacy &amp; Security</a></li>
                <li><a>Careers</a></li>
                <li><a>Press</a></li>
                <li><a>Corporate Information</a></li>
            </ul>
            <div class="right">
            <ul>
                <li><a>Sizing</a></li>
                <li><a>Ordering</a></li>
                <li><a>Shipping</a></li>
                <li><a>Return Policy</a></li>
                <li><a>Affiliates</a></li>
                <li><a>Find A Store</a></li>
                <li><a>Site Map</a></li>
                <li><a>Sign Up &amp; Save</a></li>
            </ul>
            </div>
        </div>
    </div>
</footer>